*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AEADF0;
}

form{
    display: flex;
    justify-content: center;
    /* min-height: 100vh; */
    flex-direction: column;
}

.container{
    background-color: #D8DCFF;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    top: 30vh;
    width: 270px;
}

input{
    margin-bottom: 10px;
    width: 100%;
    border: none;
    outline: none;
    height: 35px;
    padding-left: 5px;
    border-radius: 5px;
}

.btn{
    background-color: #565676;
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin-top: 25px;
}

.heading{
    text-align: center;
    margin-bottom: 30px;
}

.register{
    text-align: center;
}

.register a{
    text-decoration: none;
}

