@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

@keyframes animation1{
    from{
        top: 0;
    }
    to{
        top: 7vh;
    }
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/about.png');
    background-repeat: no-repeat;
    background-position: 25vh 60vh;
    background-color: #eeeff1;
}

form{
    display: flex;
    justify-content: center;
    /* min-height: 100vh; */
    flex-direction: column;
}

.container{
    background: transparent;
    background-color: #56567649;
    backdrop-filter: blur(2px);
    position: relative;
    padding: 20px;
    border-radius: 10px;
    top: 7vh;
    width: 270px;
    z-index: 10;
    animation-name: animation1;
    animation-duration: 0.75s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
}

input{
    margin-bottom: 10px;
    width: 100%;
    border: none;
    outline: none;
    height: 35px;
    padding-left: 5px;
    border-radius: 5px;
}

.btn{
    background-color: #fe5b3d;
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin-top: 25px;
}

.heading{
    text-align: center;
    margin-bottom: 30px;
    text-decoration: underline;
}

.register{
    text-align: center;
    color: white;
}

.register a{
    color: #fe5b3d;
}