@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

:root {
  --main-color: #fe5b3d;
  --second-color: #ffac38;
  --third-color : #474fa0;
  --text-color: #444;
  --gradient: linear-gradient(#fe5b3d, #ffac38);
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--third-color);
  border-radius: 5rem;
}

section {
  padding: 50px 100px;
}

.hide{
  display: none;
}

/* main page */

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eeeff1;
  padding: 5px 100px;
}

.logo img {
  width: 110px;
  height: 60px;
}

.navbar {
  display: flex;
}

.navbar li {
  position: relative;
  margin: 0 15px;
}

.navbar a {
  font-size: 1rem;
  padding: 0 7px;
  color: var(--text-color);
  font-weight: 500;
}

.navbar a::after {
  content: '';
  width: 0;
  height: 3px;
  background: var(--gradient);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.5s;
}

.navbar a:hover::after {
  width: 100%;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

.header-btn a {
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}

.header-btn .sign-in {
  background: var(--third-color);
  color: #fff;
  border-radius: 0.5rem;
  transition: 0.5s ease;
}

.header-btn .sign-in:hover {
  background: var(--main-color);
}

.home {
  width: 100%;
  min-height: 100vh;
  position: relative;
  /* background: url(images/car.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.home .car{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 200px;
  position: relative; 
  top: 20px;
  align-items: center;
  justify-content: center; 
}

.home .car img{
  height: 406px;
  width: 614px;
  padding-right: 70px;
  /* padding-bottom: 20px; */
  margin-bottom: 20px;
}

.text h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;
}

.text span {
  color: var(--main-color);
}

.text p {
  margin: 00.5rem 0 1rem;
  font-weight: 500;
}

.form-container form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  position: absolute;
  bottom: 3rem;
  left: 80px;
  background: #fff;
  padding: 20px;
  border-radius: 0.5rem;
  /* border: 1px solid var(--main-color); */
}

.input-box {
  flex: 1 1 7rem;
  display: flex;
  flex-direction: column;
}

.input-box span {
  font-weight: 500;
}

.input-box input {
  padding: 7px;
  outline: none;
  border: none;
  background: #eeeff1;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.form-container form .btn {
  flex: 1 1 7rem;
  padding: 10px 34px;
  border: none;
  border-radius: 0.5rem;
  background: var(--third-color);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.5s ease;
}

.form-container form .btn:hover {
  background: var(--main-color);
}

/* popup box */

.container1#blur.active{
  filter: blur(10px);
}

#popup a{
  border: 1px solid black;
  color: white;
  background-color: grey;
}

div#popup 
{
  position: fixed;
  margin-top: 50px;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  padding: 10px 40px;
  box-shadow: 0 5px 30px rgba(0,0,0,.30);
  background: white;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  max-height: 90vh;
  overflow-y: scroll;
}

#popup.active{
  top: 250px;
  visibility: visible;
  opacity: 1;
}

#popup .head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#popup .head button{
  background: transparent;
  border: none;
  outline: none;
  font-size: 30px;
}

#popup h2{
  color: var(--text-color);
}

#popup .car img{
  height: 100px;
}

#popup .car-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#popup .btn{
  color: #fff;
  font-weight: 600;
  background: var(--third-color);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-top: 0px;
}

#popup select{
  border: none;
  outline: none;
  border-radius: 0.5rem;
  background-color: #eeeff1;
  padding: 7px;
}

/* cars */

.categories{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}

.categories #buttons button{
  position: relative;
  background: transparent;
  outline: none;
  border: none;
  padding: 5px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.categories #buttons button::after{
  content: '';
  width: 0;
  height: 3px;
  background: var(--gradient);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.25s;
}

.categories #buttons .active::after{
  width: 100%;
}

.cars-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.cars-container .box {
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}

.cars-container .box .box-image {
  height: 200px;
  width: 100%;
}

.cars-container .box .box-image img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
}

.cars-container .box p {
  padding: 0 10px;
  border: 1px solid var(--text-color);
  width: 58px;
  border-radius: 0.5rem;
  margin: 1rem 0 1rem;
}

.cars-container .box h3 {
  font-weight: 500;
}

.cars-container .box h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--main-color);
  margin: 0.2rem 0 0.5rem;
}

.cars-container .box h2 span {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--text-color);
}

.cars-container .box .btn {
  display: flex;
  justify-content: center;
  background: var(--third-color);
  color: #fff;
  padding: 10px;
  border-radius: 0.5rem;
  transition: 0.5s ease;
}

.cars-container .box .btn:hover {
  background: var(--main-color);
}

/* about */

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.about-image img {
  width: 100%;
}
.about-text span {
  font-weight: 500;
  color: var(--main-color);
  text-transform: uppercase;
}

.about-text p {
  margin: 0.5rem 0 1.4rem;
}

.about-text .btn {
  padding: 10px 20px;
  background: var(--third-color);
  color: #fff;
  border-radius: 0.5rem;
  transition: 0.5s ease;
}

.about-text .btn:hover {
  background: var(--main-color);
}

/* review */

.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  margin-top: 2rem;
}

.rev-image {
  width: 70px;
  height: 70px;
}

.rev-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: 1px 0;
  border: 2px solid var(--second-color);
}

.reviews-container .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.reviews-container .box h2{
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0.5rem 0 0.5rem;
}

.reviews-container .box p{
  font-style: italic;
}

.reviews-container .box .stars .bx{
  color:var(--main-color);
}

/* faq */

.heading {
  text-align: center;
}

.heading span {
  font-weight: 500;
  text-transform: uppercase;
}

.heading h1 {
  font-size: 2rem;
}

.faq-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  margin-top: 2rem;
}

.faq-container .box {
  text-align: center;
  padding: 20px;
}

.faq-container .box .bx {
  font-size: 34px;
  padding: 10px;
  background: #eeeff1;
  border-radius: 0.5rem;
  color: var(--main-color);
  transition: 0.5s ease;
}

.faq-container .box .bx:hover,
.faq-container .bx .bxs-calendar-star {
  background: var(--gradient);
  color: #fff;
}

.faq-container .box h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 1.4rem 0 0.5rem;
}

/* Newsletter */

.newsletter{
  background: linear-gradient(to top right, #fe5b3d, #ffac38);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter h2{
  color: #fff;
  font-size: 1.8rem;
}

.newsletter .box{
  margin-top: 1rem;
  background: #fff;
  border-radius: 0.5rem;
  padding: 4px 8px;
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.newsletter .box input{
  border: none;
  outline: none;
}

.newsletter .box .btn{
  background: var(--third-color);
  color: #fff;
  padding: 8px 20px;
  border-radius: 0.5rem;
}

/* copyright */

.copyright{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social a{
  color: #444;
  padding: 10px;
  font-size: 21px;
}

/* media queries */

@media screen and (max-width: 1850px) {
  .home .car{
    gap: 650px;
  }
  
  .home .car img{
    height: 450px;
    width: 800px;
  }
}

@media screen and (max-width: 1600px) {
  .home .car{
    gap: 450px;
  }
}

@media screen and (max-width: 1400px) {
  .home .car{
    gap: 230px;
  }
  .home .car img{
    height: 400px;
    width: 750px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1300px) {
  .home .car{
    gap: 200px;
  }
  .home .car img{
    height: 370px;
    width: 720px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1250px) {
  .home .car{
    gap: 150px;
  }
  .home .car img{
    height: 370px;
    width: 720px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .home .car{
    gap: 100px;
  }
  .home .car img{
    height: 350px;
    width: 700px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1150px) {
  .home .car{
    gap: 50px;
  }
}

@media screen and (max-width: 1100px) {
  .home .car{
    gap: 0;
  }
  .home .car img{
    height: 330px;
    width: 680px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1030px) {
  .home .car img{
    height: 300px;
    width: 650px;
    padding-bottom: 20px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .home .car img{
    height: 260px;
    width: 600px;
    padding-bottom: 20px;
    padding-right: 0;
  }
}

@media screen and (max-width: 991px) {
  header{
    padding: 18px 40px;
  }
  section{
    padding: 50px 40px;
  }
  .home .car{
    gap: 100px;
  }
  .home .car img{
    height: 265px;
    width: 610px;
    padding-bottom: 20px;
    padding-right: 0;
  }
  .text h1{
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 950px) {
  .home .car{
    gap: 50px;
  }
}

@media screen and (max-width: 881px) {
  .form-container form{
    bottom: 0.2px;
    left: 40px;
  }
  .home .car{
    gap: 0;
  }
}

@media screen and (max-width: 840px) {
  .sign-up{
    display: none;
  }
  .home .car img{
    height: 250px;
    width: 550px;
  }
}

@media screen and (max-width: 768px) {
  header{
    padding: 11px 40px;
  }

  #menu-icon{
    display: initial;
  }

  .text h1{
    font-size: 2.6rem;
  }

  .home{
    grid-template-columns: 1fr;
  }

  .home .car{
    display: unset;
    text-align: center;
  }

  .home .car img{
    /* height: 225px;
    width: 500px;
    padding: 0; */
    display: none;
  }

  .form-container form{
    position: unset;
  }

  header .navbar{
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
    text-align: left;
  }

  .navbar.active{
    top: 100%;
  }

  .navbar a{
    padding: 1rem;
    border-left: 2px solid var(--main-color);
    margin: 1rem;
    display: block;
    transition: 0.5s ease;
  }

  .navbar a:hover{
    color: #fff;
    background: var(--main-color);
    border: none;
  }

  .navbar a::after{
    display: none;
  }

  .heading span{
    font-size: 0.9rem;
    font-weight: 600;
  }

  .heading h1{
    font-size: 1.3rem;
  }

  .about-container{
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-image{
    padding: 1rem;
    order: 2;
  }
}

@media screen and (max-width: 568px) {
  .copyright{
    flex-direction: column;
  }

  .newsletter .box{
    width: 284px;
  }

  .form-container{
    padding-top: 0rem;
    margin-top: 0;
  }

  .car{
    padding-top: 40px;
  }

  .home{
    gap: 0;
  }
}

@media screen and (max-width: 350px) {
  header{
    padding: 6px 14px;
  }

  .logo img{
    width: 65px;
    height: 45px;
  }

  section{
    padding: 50px 14px;
  }

  .header-btn .sign-in{
    padding: 7px 10px;
    font-size: 14px;
    font-weight: 400;
  }

  .text h1{
    font-size: 2rem;
  }

  .cars-container{
    grid-template-columns: repeat(auto-fit, minmax(254px, auto));
  }
}
